* {
    box-sizing: border-box;
}

 #deco-container {
    width: 1201px; /*ideally 1221px*/
    height: 600px;
    background-color: rgb(0, 62,123);
    position:relative;
}

#my-title { 
    border: none;
    background-color: white;
    position: absolute;
    width: 200px;
    top: -69px;
    left: -0px;
}
/*why won't this work?*/
#about-tile {
    font-size: 100px;
    font-weight: bolder;
    position: absolute;
    text-align: center;
    left: 50px;   
}

#aboutme-container {
    background-color: white;
    position: absolute;
    width: 800px;
    height: 520px;
    top: 80px;
    left:200px;
    right:205px;
    bottom: 0px;
    border: solid 1px black;  
}


#subsections {
    position: absolute;
    left:40px;
    right:40px;
    top: 50px;
}
.subsection-boxes {
    
}
/*#top-blue {
   width: 250px;
   height: 250px;
   background-color: rgb(0,62,123);
   position: absolute;
   right: 20px;
   top: 20px;
}

#top-shadow {
    width: 250px;
    height: 250px;
    background-color: rgb(245,190,219);
    position: absolute;
    right: 50px;
    top: 50px;
 }

 #bottom-blue {
    width: 250px;
    height: 250px;
    background-color: rgb(0,62,123);
    position: absolute;
    left:20px;
    bottom: 20px;
 }
 
 #bottom-shadow {
     width: 250px;
     height: 250px;
     background-color: rgb(245,190,219);
     position: absolute;
     left: 50px;
     bottom: 50px;
  }

 #plain-box1 {
    width: 150px;
     height: 150px;
     background-color: white;
     border: solid 2px black;
     position: absolute;
     left: 50px;
     top: 50px;

 }

 #plain-box2 {
    width: 150px;
     height: 150px;
     background-color: white;
     border: solid 2px black;
     position: absolute;
     right: 50px;
     bottom: 50px;

 }*/