*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.page {
    background-color: rgb(0,62,123);
    height:600px;
    width:1201px;
    position:relative; 
}
#white-box {
    background-color: white;
    position: absolute;
    width: 1000px;
    height: 520px;
    top: 80px;
    left:125px;
    right:125px;
    bottom: 0px;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;

}
#pink-side {
    background-color: rgb(245,190,219);
    width: 600.5px;
    height: 600px;
}
#main-text {
    position: absolute;
    width:50%;
    top: 100px;
    left: 80px;
}
#nav-buttons {
    position: absolute;
    display:flex;
    justify-content: flex-end;
    width: 517px;
    left: 450px;
    top: 10px;
    padding: 20px;

}
.menuItem {
    border: none;
    font-size: 40px;
    color: rgb(0,62,123);
    font-weight: bold;
}
.hamburger {
    position: relative;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 10px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(255, 255, 255);
    color: white;
    list-style: none;
    padding-top: 4rem;

  }
  
.closeIcon {
    display: none;
  }
.showMenu {
    transform: translateY(0);
  }        
#my-image {
    border-radius: 0px 0px 0px 50px;
    width:290px;
    height:330px;
    position: absolute;
    left: 610px;
    top: 90px; 
    background-color:black;
}
img {
    width:290px;
    height:330px;
    position: absolute;
    left:600px;
    top:100px;
    border-radius: 0px 0px 0px 50px;
    /*box-shadow: 10px 10px 5px 0px black;*/
}
#baby-button1 {
    padding: 10px;
    border: none;
    background-color: black;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
#baby-button2 {
    padding: 10px;
    border: solid 1px black;
    background-color: white;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
#second-container {
    width:1201px;
    height: 800px;
    position:relative;
    display: flex;

}
#pink-circle1 {
    background-color: rgb(245,190,219);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 50px;
}
#blue-circle2 {
    background-color: rgb(0,62,123);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top:0px;
    left:0px;
}
#blue-circle1 { 
    background-color: rgb(0,62,123);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 10px;
    right: 50px;

}
#pink-circle2 {
    background-color: rgb(245,190,219);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position:absolute;
    bottom: 350px;
    right: 0px;
}
#pink-circle3 {
    background-color: rgb(245,190,219);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position:absolute;
    right: 400px;
    bottom: 0px;
}
#blue-circle3 {
    background-color: rgb(0,62,123);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left:10px;
}
#pink-circle4 { 
    background-color: rgb(245,190,219);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 400px;
    top:20px;

}
#blue-circle4 {
    background-color: rgb(0,62,123);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 350px;
    bottom: 300px;
}


  /*form styling*/
#form-container {
    background-color: white;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 200px;
    left:300px;
    right:300px;
    bottom:0px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-content {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 150px;
    top: 25px;
    bottom: 25px
}
#form-title {
    font-size: 30px; 
}

#submit-form {
    padding: 5px;
    border: black solid 1px;
    background:rgb(245,190,219);
    position: absolute;
    font-weight: bold;
    color: rgb(0,62,123);


}